<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "Http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mappers/usertb_3.xml"/>
        <mapper resource="mybatis/mappers/usertb_4.xml"/>
        <mapper resource="mybatis/mappers/genre_3.xml"/>
        <mapper resource="mybatis/mappers/selecgenretb_3.xml"/>
        <mapper resource="mybatis/mappers/selecgenretb_4.xml"/>
        <mapper resource="mybatis/mappers/areatb_2.xml"/>
		<mapper resource="mybatis/mappers/theatertb_2.xml"/>
		<mapper resource="mybatis/mappers/screentb_2.xml"/>
		<mapper resource="mybatis/mappers/movietb_2.xml"/>
		<mapper resource="mybatis/mappers/grade_4.xml"/>
		<mapper resource="mybatis/mappers/mileage_4.xml"/>
		<mapper resource="mybatis/mappers/point_4.xml"/>
		<mapper resource="mybatis/mappers/pthisttb_4.xml"/>
		<mapper resource="mybatis/mappers/reservetb_2.xml"/>
		<mapper resource="mybatis/mappers/reserdtltb_2.xml"/>
		<mapper resource="mybatis/mappers/pricetb_2.xml"/>
		<mapper resource="mybatis/mappers/main.xml"/>
		<mapper resource="mybatis/mappers/movie.xml"/>
		<mapper resource="mybatis/mappers/oauthtb_3.xml"/>
		<mapper resource="mybatis/mappers/review.xml"/>
		<mapper resource="mybatis/mappers/like.xml"/>
		<mapper resource="mybatis/mappers/ticket.xml"/>
		<mapper resource="mybatis/mappers/coupontb_4.xml"/>
		<mapper resource="mybatis/mappers/coupontb_2.xml"/>
		<mapper resource="mybatis/mappers/attendance.xml"/>
		<mapper resource="mybatis/mappers/moviestory.xml"/>
    </mappers>
</configuration>
