* 
{
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Pretendard';
}

html,body 
{
    background-color: #0F1015;
}

a
{
    text-decoration: none;
}

ul,li,ol 
{
    list-style: none;
}

table, tr, td, div 
{
    box-sizing: border-box;
    border-collapse: collapse;
}

.active
{
    background: rgba(243,185,49,0.2) !important; 
    color: #F3B931 !important;
}