:root 
{
    --maincolor: #f3b931;
    --subcolor: #99A2b9;
    --subcolor2: #1a1b24;
    --background:#0f1015;
    --hoverblack: #13151c;
    --disabled: rgba(153,162,185,0.3);
    --input: rgba(217,217,217,0.1);
    --fs12: 0.6px;
    --fs14: 0.8vw;
    --fs16: 1vw;
    --fs18: 1.35vw;
    --fs20: 1.4vw;
    --fs24: 1.45vw;
    --fs28: 1.5vw;
    --fs36: 36px;
}

section 
{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	margin-bottom: 120px;
}

/* swiper */

.mySwiper  
{
	min-width: 1600px!important;
	width: 90%!important;
}

.swiper 
{
    width: 100%;
    height: 100%;
}

.swiper-slide 
{
    text-align: center;
    font-size: 18px;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw!important;
	transition: transform 0.5s, opacity 0.5s;
	border-radius: 16px;
}

.swiper-slide img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 16px;
}

.swiper-slide-active, .swiper-slide
{
    opacity: 0.2;
    transform: scale(1)!important;
    transform-origin: center center!important;
}

.swiper-slide-next
{
    /*transform: scale(1.2)!important;*/
    transform-origin: center center!important;
	z-index: 99;
    opacity: 1;
    border-radius: 6px;
}

/* --------------movieList 시작--------------- */

.movieList
{
	min-width: 1600px!important;
	width: 90%!important; 
	margin: 100px 0;       
}

.tabWrap 
{
    display: flex;
    align-items: center;
	margin-bottom: 40px;
}

.status
{
    display: flex;
    align-items: center;
    gap: 0 28px;
}

.tab 
{
    color: var(--disabled);
    font-size: var(--fs28);
    font-weight: 600; 
	cursor: pointer;
}

.tab.active 
{
    background: none!important;
}

.tab.active 
{
    color: var(--maincolor);
}

.more  
{
    margin-left: auto;
}

.more a 
{
    text-decoration: underline;
    color: #fff;
    font-size: var(--fs16);
    font-weight: 200;
}

.ranking .rankingCon 
{
	display: none;
	grid-template-columns: repeat(4, 1fr);
    gap: 40px;  
}

.ranking .rankingCon.on 
{
	display: grid;
}

.movieDiv 
{
	background: var(--hoverblack);
	/*height: 480px;*/
}

.movieDiv:hover img 
{
	/*height:300px;*/
	height: 20vw;
	/*transition-duration: 0.7s;*/
}

.movieDiv:hover .movieInfo 
{
	display: block;
}

.movieDiv, .movieDiv img 
{
	border-radius: 13px;
}

.movieDiv img  
{
    width: 100%;
	/*height: 480px;*/
	height: 30vw;
	/*height: 100%;*/
	object-fit: cover;
	object-position: bottom;
}

.movieInfo 
{
	padding: 24px;
    height: calc(100% - 20vw);
	display: none;
}

.movienm 
{
	font-size:var(--fs24);
	color: #fff;
	font-weight: 600;
}

.option 
{
	margin-top: 12px;
	display: flex;
	align-items: center;
	gap: 0 12px;	
}

.releaseday 
{
	font-size: var(--fs14);
	color: var(--subcolor);
	font-weight: 200;	
}

.difference 
{
	border-radius: 24px;
	font-size: var(--fs14);
	font-weight: 400;
}

.difference.active 
{
	background: none!important;
}

.buttonWrap 
{
	margin-top: 40px;
	display: flex;
	gap: 0 20px;	
}

.buttonWrap button 
{
	height: 2vw;
	padding: 0 1vw;
	border-radius: 3px;
	cursor: pointer;
	border:0;
	background:var(--disabled);
	color: var(--subcolor);
	font-size: var(--fs14);
	font-weight: 300;
}

.benefit 
{
	min-width: 1600px!important;
	width: 90%!important;	
}

.benefitImg 
{
	display: flex;
	justify-content: space-between;
	gap: 0 40px;
}
.benefitImg div 
{
	width: 50%;
	border-radius: 13px;
}

.benefitImg div img 
{
	width: 100%;
	border-radius: 13px;
}

.recommendPop 
{ 
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
	z-index: 99;
	top: 0;
}
.popInner
{
	min-width:initial!important;
    width: 400px!important;
    height: 500px!important;
    background: var(--hoverblack);
    border-radius: 6px;
    display: flex!important;
    flex-direction: column;
	position: relative;
	overflow: hidden;
}

.popH 
{
    display: flex!important;
    padding: 24px;
	font-size: var(--fs20);
	align-items: center;
	color: #fff;
}

.popTitle 
{
	font-weight: 400;
}


.cancelPOP 
{
	margin-left: auto;
	cursor: pointer;
}

.recommendPop .popB 
{
    width: 400px!important;
	display: flex!important;	
	height: 423px;
	position: relative;	
}

.popButtonWrap 
{
	position: absolute;
    top: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    left: 50%;
    z-index: 99;
    width: 100%;	
}

.buttonArrow 
{
	position: absolute;
    top: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
	z-index: 99;
}

.buttonArrow.arrowLeft 
{
    left: 64px;
}

.buttonArrow.arrowRight 
{
    right: 20px;
}

.imgCon
{
	position:absolute;
	width: 400px;
	height: 426px;
	border-radius:0 0 6px 6px;
	left: calc(400px*var(--i));
}

.imgCon img 
{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
	border-radius:0 0 6px 6px;	
}


/*출석이벤트 팝업*/

.popUp.attend 
{
    z-index: 9999;
    position: absolute; /* 또는 fixed */
    display: none; /* 처음엔 숨김 상태로 유지 */
}

.attend .popBg
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.6);
}

.attend .popCon 
{
	display: flex; 
	flex-direction: column;
	position: fixed; 
	right: 0; bottom: 0;
/*	transform: translate(-50%, -50%); */
	padding: 36px; 
	overflow: hidden; /* 자식 요소가 컨테이너를 넘어가지 않도록 설정 */
	background-color: #1A1B24;
	border-radius: 16px;
 	gap: 20px 0;
	width: 280px;

}

.attend .popH
{
	display: flex;
	padding: 0;
    justify-content: space-between;
}

.attend .cancelPOP
{
  z-index: 1000;
}


.attend .popH .icon i
{
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.attend .popM
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  
}

.attend .popTitle
{
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

.attend .popAlert
{
  font-size:16px;
/*  text-align: center;*/
  font-weight:400;
  color: #99A2B9;
}

.attend .popM button
{
    padding: 0 20px;
    height: 36px;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.1);
    box-sizing: border-box;
    color: #99A2B9;
	border: none;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.attend .popM button:hover
{
    border: 1px solid #F3B931;
    color: #F3B931;
	background: rgb(243 185 49 / 30%);
}



.attend .popB 
{
	display: flex;
	justify-content: space-between;
}

.attend .checkCon
{
	display: flex;
	gap: 0 5px;
	
}

.attend .popB input
{
    color:  #99A2B9;
  	width: 15px;
}


.attend .popB label
{
	color:#99A2B9;
	font-size: 14px;
}
