:root 
{
    --main-color : #f3b931;
    --sub-gray: #99a2b9;
    --font-black:#111;
    --background: #0f1015;
    --hover-black:#13151c;
    --disabled:rgba(153,162,185,0.3);
    --input-background-gray:rgba(217,217,217,0.1);
}


* 
{
    margin:0;
    padding:0;
    list-style:none;
    font-family: 'Pretendard';
}

html,body 
{
    background-color: #0F1015;
}

a
{
    text-decoration: none;
	color: rgba(153, 162, 185, 0.3);
}

ul,li,ol 
{
    list-style: none;
}

table, tr, td, div 
{
    box-sizing: border-box;
    border-collapse: collapse;
}


button, input, select
{
    padding: 0 20px;
    height: 48px;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.1);
    box-sizing: border-box;
    color: #99A2B9;
    border: none;
    font-size: 14px;
	font-weight: 500;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
	outline: none;
}

button{
	height: 36px;
}


/*페이징 버튼*/

.pagination
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 8px;
}

.pageBtn
{
	padding: 10px;
	width: 24px !important;
	height: 24px !important;
	box-sizing: border-box;
	background-color:  #1A1B24;
}

.pageBtn:hover
{
    border: 1px solid #F3B931;
    background-color: rgba(243, 185, 49, 0.2);
    color: #F3B931;
}

.pageBtn.active {
    color: #111;
    background-color: #F3B931;
    border: none;
}


