

.mainContainer{
    display: flex;
    justify-content: center;
}

.mainContainerContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 40px 0;
    margin-top: 40px;
    width: 1600px;
}

.menuTitle
{
    color: var(--main-color);
    font-size: 28px;
	font-weight: 600;
}   

.mainContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 40px 0;
    box-sizing: border-box;
    /* background-color: #1A1B24; */
    color: var(--sub-gray);
    font-size: 14px;
    font-weight: 400;
}

.tabConDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 56px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: #1A1B24;
    color: #99A2B9;
}

.tabCon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tabCon.active {
    border: 1px solid #F3B931;
    background-color: rgba(243, 185, 49, 0.2);
    color: #F3B931;
}

.tabCon.active:first-child {
    border-radius: 10px 0 0 0;
}

.tabCon.active:last-child {
    border-radius: 0 10px 0 0;
}

.contentCon {
    display: none;
}

.contentCon.active {
    display: flex;
    flex-direction: column;
    gap : 40px 0;
}

.bookingList, .cancelList
{
     display: flex;
     flex-direction: column;
     gap: 40px 0;
}

.filterBtn
{
    display: flex;
    gap : 0 40px;
}

.leftFilter, .rightFilter
{
    display: flex;
    gap : 0 20px;
    align-items: center;
}

.conTitle
{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.inputReg
{
   width: 800px;
}

.couponList
{
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}


.filter:hover, .submitBtn:hover
{
    border: 1px solid #F3B931;
    background-color: rgba(243, 185, 49, 0.2);
    color: #F3B931;
}


.filter.active
{
    border: 1px solid #F3B931;
    background-color: rgba(243, 185, 49, 0.2);
    color: #F3B931;
}

.listTable
{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 3px;
    background-color: #1A1B24;
}

.titleRowBook, .contentRowBook
{
    display: grid;
    grid-template-columns: 3fr 8fr 3fr 1fr 3fr 2fr 2fr;
    
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    height: 56px;
    box-sizing: border-box;
}

.titleRowCancel, .contentRowCancel
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    height: 56px;
    box-sizing: border-box;
}

.titleRowBook, .titleRowCancel
{
    border-bottom:1px solid  rgba(217, 217, 217, 0.1);;
}

.contentRowBook, .contentRowCancel
{
    font-size: 20px;
    font-weight: 200;
}

.useGuide
{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 3px;
    background-color: #1A1B24;
    padding: 24px;
    gap: 20px 0;
}

.guideTitle
{
    display: flex;
    gap: 0 10px;
    color: #fff;
}